nixos/ejabberd: Unable to load plugin: xep_0363

### Nixpkgs version

- Unstable (25.05)

### Describe the bug

NixOS module test fails to run. Coming from #399298.

This is an issue with the _client_, not the Ejabberd server.

### Steps to reproduce

```console
$ nix-build -A nixosTests.ejabberd
```

### Expected behavior

Tests pass

### Screenshots

_No response_

### Relevant log output

```console
client # DEBUG    Using selector: EpollSelector
client # DEBUG    Loaded Plugin: RFC 6120: Stream Feature: STARTTLS
client # DEBUG    Loaded Plugin: RFC 6120: Stream Feature: Resource Binding
client # DEBUG    Loaded Plugin: RFC 3920: Stream Feature: Start Session
client # DEBUG    Loaded Plugin: RFC 6121: Stream Feature: Roster Versioning
client # DEBUG    Loaded Plugin: RFC 6121: Stream Feature: Subscription Pre-Approval
client # DEBUG    Loaded Plugin: RFC 6120: Stream Feature: SASL
client # DEBUG    Loaded Plugin: XEP-0030: Service Discovery
client # DEBUG    Loaded Plugin: XEP-0071: XHTML-IM
client # DEBUG    Loaded Plugin: XEP-0004: Data Forms
client # DEBUG    Loaded Plugin: XEP-0128: Service Discovery Extensions
client # ERROR    Unable to load plugin: xep_0363
client # Traceback (most recent call last):
client #   File "/nix/store/9v1gmkmmka6j2lv61m1rznxin54r0zaw-python3-3.12.9-env/lib/python3.12/site-packages/slixmpp/plugins/base.py", line 82, in load_plugin
client #     __import__(module)
client #   File "/nix/store/9v1gmkmmka6j2lv61m1rznxin54r0zaw-python3-3.12.9-env/lib/python3.12/site-packages/slixmpp/plugins/xep_0363/__init__.py", line 8, in <module>
client #     from slixmpp.plugins.xep_0363.http_upload import (
client #   File "/nix/store/9v1gmkmmka6j2lv61m1rznxin54r0zaw-python3-3.12.9-env/lib/python3.12/site-packages/slixmpp/plugins/xep_0363/http_upload.py", line 9, in <module>
client #     from aiohttp import ClientSession
client # ModuleNotFoundError: No module named 'aiohttp'
client # 
client # During handling of the above exception, another exception occurred:
client # 
client # Traceback (most recent call last):
client #   File "/nix/store/9v1gmkmmka6j2lv61m1rznxin54r0zaw-python3-3.12.9-env/lib/python3.12/site-packages/slixmpp/plugins/base.py", line 86, in load_plugin
client #     __import__(module)
client # ModuleNotFoundError: No module named 'slixmpp.features.xep_0363'
client # ERROR    Unable to load plugin: xep_0363
client # Traceback (most recent call last):
client #   File "/nix/store/9v1gmkmmka6j2lv61m1rznxin54r0zaw-python3-3.12.9-env/lib/python3.12/site-packages/slixmpp/plugins/base.py", line 82, in load_plugin
client #     __import__(module)
client #   File "/nix/store/9v1gmkmmka6j2lv61m1rznxin54r0zaw-python3-3.12.9-env/lib/python3.12/site-packages/slixmpp/plugins/xep_0363/__init__.py", line 8, in <module>
client #     from slixmpp.plugins.xep_0363.http_upload import (
client #   File "/nix/store/9v1gmkmmka6j2lv61m1rznxin54r0zaw-python3-3.12.9-env/lib/python3.12/site-packages/slixmpp/plugins/xep_0363/http_upload.py", line 9, in <module>
client #     from aiohttp import ClientSession
client # ModuleNotFoundError: No module named 'aiohttp'
client # 
client # During handling of the above exception, another exception occurred:
client # 
client # Traceback (most recent call last):
client #   File "/nix/store/9v1gmkmmka6j2lv61m1rznxin54r0zaw-python3-3.12.9-env/lib/python3.12/site-packages/slixmpp/plugins/base.py", line 86, in load_plugin
client #     __import__(module)
client # ModuleNotFoundError: No module named 'slixmpp.features.xep_0363'
client # Traceback (most recent call last):
client #   File "/run/current-system/sw/bin/send-message", line 71, in <module>
client #     ct.register_plugin('xep_0363')
client #   File "/nix/store/9v1gmkmmka6j2lv61m1rznxin54r0zaw-python3-3.12.9-env/lib/python3.12/site-packages/slixmpp/basexmpp.py", line 265, in register_plugin
client #     self.plugin.enable(plugin, pconfig)  # type: ignore
client #     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
client #   File "/nix/store/9v1gmkmmka6j2lv61m1rznxin54r0zaw-python3-3.12.9-env/lib/python3.12/site-packages/slixmpp/plugins/base.py", line 157, in enable
client #     raise PluginNotFound(name)
client # slixmpp.plugins.base.PluginNotFound: xep_0363
client: output: 
cleanup
kill machine (pid 43)
qemu-system-x86_64: terminating on signal 15 from pid 6 (/nix/store/fqm9bqqlmaqqr02qbalm1bazp810qfiw-python3-3.12.9/bin/python3.12)
kill machine (pid 9)
qemu-system-x86_64: terminating on signal 15 from pid 6 (/nix/store/fqm9bqqlmaqqr02qbalm1bazp810qfiw-python3-3.12.9/bin/python3.12)
kill vlan (pid 7)
(finished: cleanup, in 0.02 seconds)
Traceback (most recent call last):
  File "/nix/store/9j0zgvpmh7gh2wyadafc4hmf9fkans70-nixos-test-driver-1.1/bin/.nixos-test-driver-wrapped", line 9, in <module>
    sys.exit(main())
             ^^^^^^
  File "/nix/store/9j0zgvpmh7gh2wyadafc4hmf9fkans70-nixos-test-driver-1.1/lib/python3.12/site-packages/test_driver/__init__.py", line 146, in main
    driver.run_tests()
  File "/nix/store/9j0zgvpmh7gh2wyadafc4hmf9fkans70-nixos-test-driver-1.1/lib/python3.12/site-packages/test_driver/driver.py", line 174, in run_tests
    self.test_script()
  File "/nix/store/9j0zgvpmh7gh2wyadafc4hmf9fkans70-nixos-test-driver-1.1/lib/python3.12/site-packages/test_driver/driver.py", line 166, in test_script
    exec(self.tests, symbols, None)
  File "<string>", line 14, in <module>
  File "/nix/store/9j0zgvpmh7gh2wyadafc4hmf9fkans70-nixos-test-driver-1.1/lib/python3.12/site-packages/test_driver/machine.py", line 666, in succeed
    raise Exception(f"command `{command}` failed (exit code {status})")
Exception: command `send-message` failed (exit code 1)
```

### Additional context

```console
$ nix-build -A nixosTests.movim.ejabberd-h2o
/nix/store/kzr05d7wj8z0605zbz843sxi67dq3120-vm-test-run-movim-ejabberd-h2o
```

A general test case runs fine.

### System metadata

```console
$ nix-shell -p nix-info --run "nix-info -m"
 - system: `"x86_64-linux"`
 - host os: `Linux 6.12.23, NixOS, 25.05 (Warbler), 25.05.20250417.b024ced`
 - multi-user?: `yes`
 - sandbox: `yes`
 - version: `nix-env (Nix) 2.28.1`
 - nixpkgs: `/nix/store/isfbldda5j8j6x3nbv1zim0c0dpf90v8-source`
```

### Notify maintainers

_there are no listed maintainers_

---

**Note for maintainers:** Please tag this issue in your pull request description. (i.e. `Resolves #ISSUE`.)


### I assert that this issue is relevant for Nixpkgs

- [x] I assert that this is a bug and not a support request.
- [x] I assert that this is not a [duplicate of an existing issue](https://github.com/NixOS/nixpkgs/issues?q=is%3Aopen+is%3Aissue+label%3A%220.kind%3A+bug%22+label%3A%226.topic%3A+nixos%22). 
- [x] I assert that I have read the [NixOS Code of Conduct](https://github.com/NixOS/.github/blob/master/CODE_OF_CONDUCT.md) and agree to abide by it.

### Is this issue important to you?

Add a :+1: [reaction] to [issues you find important].

[reaction]: https://github.blog/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/
[issues you find important]: https://github.com/NixOS/nixpkgs/issues?q=is%3Aissue+is%3Aopen+sort%3Areactions-%2B1-desc

[^1]

[^1]: Please consider [giving up MS GitHub](https://sfconservancy.org/GiveUpGitHub/) or offering a non-proprietary, non-US-corporate-controlled mirror for this free software project. I wish to delete this Microsoft account in the future, but I need more projects like this to support alternative methods to send patches & contribute.
