nixos/tailscale: Tailscale nftables chain never fires

### Nixpkgs version

- Stable (25.11)

### Describe the bug

When using the nftables backend for the firewall, incoming packets on the `tailscale0` interface are dropped before even reaching the Tailscale-added chain which accepts all incoming Tailscale traffic after some anti-spoofing rules.

I know it's controversial functionality (tailscale/tailscale#11717), but I'd imagine the behavior should not be controlled by the firewall backend chosen.

This happens both with and without `TS_DEBUG_FIREWALL_MODE=nftables`.

### Steps to reproduce

```nix
  services.tailscale.enable = true;
  networking.nftables.enable = true;
```

### Expected behaviour

Incoming traffic on the `tailscale0` interface should be accepted.

### Screenshots

_No response_

### Relevant log output

```console
refused connection: IN=tailscale0 OUT= MAC= SRC=100.64.0.2 DST=100.64.0.5 LEN=60 TOS=0x00 PREC=0x00 TTL=64 ID=29515 DF PROTO=TCP SPT=50896 DPT=443 WINDOW=64480 RES=0x00 SYN URGP=0



trace id 42e8c731 inet nixos-fw input packet: iif "tailscale0" ip saddr 100.64.0.2 ip daddr 100.64.0.5 ip dscp cs0 ip ecn not-ect ip ttl 64 ip id 22715 ip protocol tcp ip length 60 tcp sport 43704 tcp dport 443 tcp flags == syn tcp window 64480 
trace id 42e8c731 inet nixos-fw input rule iifname "tailscale0*" meta nftrace set 1 (verdict continue)
trace id 42e8c731 inet nixos-fw input rule ct state vmap { invalid : drop, established : accept, related : accept, new : jump input-allow, untracked : jump input-allow } (verdict jump input-allow)
trace id 42e8c731 inet nixos-fw input rule tcp flags & (fin | syn | rst | ack) == syn log prefix "refused connection: " level info (verdict continue)
trace id 42e8c731 inet nixos-fw input policy drop
```

### Additional context

The relevant chains on my machine from `nft list ruleset` (with `TS_DEBUG_FIREWALL_MODE=nftables`)
```
    chain input {
        type filter hook input priority filter; policy drop;
        iifname "lo" accept comment "trusted interfaces"
        ct state vmap { invalid : drop, established : accept, related : accept, new : jump input-allow, untracked : jump input-allow }
        tcp flags & (fin | syn | rst | ack) == syn log prefix "refused connection: " level info
    }

    chain input-allow {
        tcp dport 22 accept
        udp dport 5353 accept
        meta l4proto . th dport @temp-ports accept
        icmp type echo-request accept comment "allow ping"
        icmpv6 type != { nd-redirect, 139 } accept comment "Accept all ICMPv6 messages except redirects and node information queries (type 139).  See RFC 4890, section 4.4."
        ip6 daddr fe80::/64 udp dport 546 accept comment "DHCPv6 client"
    }

    chain INPUT {
        type filter hook input priority filter; policy accept;
        counter packets 65313 bytes 74494075 jump ts-input
    }

    chain ts-input {
        iifname "lo*" ip saddr 100.64.0.5 counter packets 0 bytes 0 accept
        iifname != "tailscale0*" ip saddr 100.115.92.0/23 counter packets 0 bytes 0 return
        iifname != "tailscale0*" ip saddr 100.64.0.0/10 counter packets 0 bytes 0 drop
        iifname "tailscale0*" counter packets 2359 bytes 248546 accept
        udp dport 41641 counter packets 4793 bytes 674852 accept
    }

```

### System metadata

 - system: `"x86_64-linux"`
 - host os: `Linux 6.12.69, NixOS, 25.11 (Xantusia), 25.11.20260207.23d72da`
 - multi-user?: `yes`
 - sandbox: `yes`
 - version: `nix-env (Nix) 2.32.4`
 - nixpkgs: `/nix/store/99f9ksfwybf3naavcfs42wjyssqiliq5-source`

### Notify maintainers

@martinbaillie 
@mfrw 

---

**Note for maintainers:** Please tag this issue in your pull request description. (i.e. `Resolves #ISSUE`.)


### I assert that this issue is relevant for Nixpkgs

- [x] I assert that this is a bug and not a support request.
- [x] I assert that this is not a [duplicate of an existing issue](https://github.com/NixOS/nixpkgs/issues?q=is%3Aissue+label%3A%220.kind%3A+bug%22+label%3A%226.topic%3A+nixos%22). 
- [x] I assert that I have read the [NixOS Code of Conduct](https://github.com/NixOS/.github/blob/master/CODE_OF_CONDUCT.md) and agree to abide by it.

### Is this issue important to you?

Add a :+1: [reaction] to [issues you find important].

[reaction]: https://github.blog/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/
[issues you find important]: https://github.com/NixOS/nixpkgs/issues?q=is%3Aissue+is%3Aopen+sort%3Areactions-%2B1-desc
