nixos/nat-nftables: NAT-ed packets do not output after NAT

### Nixpkgs version

- Stable (25.11)

### Describe the bug

I have 2 VMs connected through the same bridge. They can contact each other without any issue.

One of my VM (router) has a public IP and `networking.nat` enabled and forwardPorts set to `:80` and `:443` to `10.11.0.8:80` and `10.11.0.8:443` (the IP of my second VM, nginx).
When I try to connect to my domain name (which points to the public IP), no packets goes to my nginx VM.

Using tcpdump on both my VMs and my host hypervisor I see packets only on the router VM, it don't even get to the host HV.

### Steps to reproduce

1. Setup two VMs on a (incus) hypervisor and configure one bridged network for the enp5s0 interfaces to connect to
2. Setup one (router) VM with 2 interfaces (enp5s0 and enp7s0) with enp5s0 having the IP 10.11.0.2/24 and enp7s0 having a public IP
3. Setup the other (nginx) VM with 1 interface enp5s0 having the IP 10.11.0.8/24
4. Use this configuration on the router VM:
```
netwoking = {
  firewall.interfaces.enp7s0.allowedTCPPorts = [ 80 443 ];
  nat = {
    enable = true;
    internalInterfaces = [ "enp5s0" ];
    externalInterface = "enp7s0";
    forwardPorts = [
      {
        destination = "10.11.0.8:80";
        sourcePort = 80;
        proto = "tcp";
     }
    {
        destination = "10.11.0.8:443";
        sourcePort = 443;
        proto = "tcp";
     }
  };
};
```
5. Open 443 et 80 ports and run some kind of HTTP(S) server on the nginx VM
6. Try to connect to the public IP using 80/443 ports (curl or something like that)

### Expected behaviour

The packets coming from router VM to ports 80/443 should be forwarded to the nginx VM.

### Screenshots

_No response_

### Relevant log output


Complete `nft list ruleset`:

```
table inet nixos-fw {
    set temp-ports {
        type inet_proto . inet_service
        flags interval
        comment "Temporarily opened ports"
    }

    chain rpfilter {
        type filter hook prerouting priority mangle + 10; policy drop;
        meta nfproto ipv4 udp sport . udp dport { 68 . 67, 67 . 68 } accept comment "DHCPv4 client/server"
        fib saddr . mark . iif check exists accept
        jump rpfilter-allow
    }

    chain rpfilter-allow {
    }

    chain input {
        type filter hook input priority filter; policy drop;
        iifname "lo" accept comment "trusted interfaces"
        ct state vmap { invalid : drop, established : accept, related : accept, new : jump input-allow, untracked : jump input-allow }
        tcp flags & (fin | syn | rst | ack) == syn log prefix "refused connection: " level info
        log level debug
    }

    chain input-allow {
        iifname "enp5s0" tcp dport { 80, 443 } accept
        iifname "enp6s0" tcp dport 22 accept
        iifname "enp7s0" tcp dport { 22, 80, 443 } accept
        meta l4proto . th dport @temp-ports accept
        icmp type echo-request accept comment "allow ping"
        icmpv6 type != { nd-redirect, 139 } accept comment "Accept all ICMPv6 messages except redirects and node information queries (type 139).  See RFC 4890, section 4.4."
        ip6 daddr fe80::/64 udp dport 546 accept comment "DHCPv6 client"
        log level debug
    }
}
table ip nixos-nat {
    chain pre {
        type nat hook prerouting priority dstnat; policy accept;
        iifname "enp7s0" meta l4proto { tcp, udp } dnat ip to meta l4proto . th dport map { tcp . 80 : 10.11.0.8 . 80, tcp . 443 : 10.11.0.8 . 443 } comment "port forward"
        log level debug
    }

    chain post {
        type nat hook postrouting priority srcnat; policy accept;
        iifname != "enp7s0" ip daddr . meta l4proto . th dport { 10.11.0.8 . tcp . 80, 10.11.0.8 . tcp . 443 } masquerade comment "port forward loopback snat"
        log level debug
    }

    chain out {
        type nat hook output priority mangle; policy accept;
    }
}
```

Some logs of `tcpdump -nvi enp5s0 "port 443"` on router VM:

```
21:55:25.123154 IP <PUBLIC IP OF MY LAPTOP>.52010 > 10.11.0.8.443: Flags [S], seq 434440789, win 64240, options [mss 1460,sackOK,TS val 2532284825 ecr 0,nop,wscale 7], length 0
21:55:25.376554 IP <PUBLIC IP OF MY LAPTOP>.52024 > 10.11.0.8.443: Flags [S], seq 3928584887, win 64240, options [mss 1460,sackOK,TS val 2532285081 ecr 0,nop,wscale 7], length 0
21:55:26.147967 IP <PUBLIC IP OF MY LAPTOP>.52010 > 10.11.0.8.443: Flags [S], seq 434440789, win 64240, options [mss 1460,sackOK,TS val 2532285849 ecr 0,nop,wscale 7], length 0
21:55:26.400584 IP <PUBLIC IP OF MY LAPTOP>.52024 > 10.11.0.8.443: Flags [S], seq 3928584887, win 64240, options [mss 1460,sackOK,TS val 2532286105 ecr 0,nop,wscale 7], length 0
21:55:27.172514 IP <PUBLIC IP OF MY LAPTOP>.52010 > 10.11.0.8.443: Flags [S], seq 434440789, win 64240, options [mss 1460,sackOK,TS val 2532286873 ecr 0,nop,wscale 7], length 0
21:55:27.427064 IP <PUBLIC IP OF MY LAPTOP>.52024 > 10.11.0.8.443: Flags [S], seq 3928584887, win 64240, options [mss 1460,sackOK,TS val 2532287129 ecr 0,nop,wscale 7], length 0
21:55:28.194943 IP <PUBLIC IP OF MY LAPTOP>.52010 > 10.11.0.8.443: Flags [S], seq 434440789, win 64240, options [mss 1460,sackOK,TS val 2532287897 ecr 0,nop,wscale 7], length 0
```

### Additional context

https://github.com/NixOS/nixpkgs/blob/a4bf06618f0b5ee50f14ed8f0da77d34ecc19160/nixos/modules/services/networking/nat-nftables.nix#L105

It may be caused by this line, as a packet arrive through the enp7s0 port, it should be masquerade-d at postrouting so the source IP is not the client IP (PUBLIC IP OF MY LAPTOP, on the tcpdump logs) but the router VM instead (10.11.0.2).

So this nft line change a packet with `iifname = enp7s0; l4proto = tcp; dport = 443; ip src = CLIENT IP; ip dst = SERVER PUBLIC IP` into a packet with `iifname = enp7s0; l4proto = tcp; dport = 443; ip src = CLIENT IP; ip dst = 10.11.0.8`
```
iifname "enp7s0" meta l4proto { tcp, udp } dnat ip to meta l4proto . th dport map { tcp . 80 : 10.11.0.8 . 80, tcp . 443 : 10.11.0.8 . 443 } comment "port forward"
```

but this nft line does not change a packet with `iifname = enp7s0; l4proto = tcp; dport = 443; ip src = CLIENT IP; ip dst = 10.11.0.8` into a packet with `iifname = enp7s0; l4proto = tcp; dport = 443; ip src = 10.11.0.2; ip dst = 10.11.0.8`.
```
iifname != "enp7s0" ip daddr . meta l4proto . th dport { 10.11.0.8 . tcp . 80, 10.11.0.8 . tcp . 443 } masquerade comment "port forward loopback snat"
```

Because of the `iifname != "enp7s0"` which, i think, should be `iifname "enp7s0"`


### System metadata

```
[root@router:~]# nix-shell -p nix-info --run "nix-info -m"
 - system: `"x86_64-linux"`
 - host os: `Linux 6.12.82, NixOS, 25.11 (Xantusia), 25.11pre-git`
 - multi-user?: `yes`
 - sandbox: `yes`
 - version: `nix-env (Lix, like Nix) 2.93.3
System type: x86_64-linux
Additional system types: i686-linux, x86_64-v1-linux, x86_64-v2-linux, x86_64-v3-linux
Features: gc, signed-caches
System configuration file: /etc/nix/nix.conf
User configuration files: /root/.config/nix/nix.conf:/etc/xdg/nix/nix.conf:/root/.nix-profile/etc/xdg/nix/nix.conf:/nix/profile/etc/xdg/nix/nix.conf:/root/.local/state/nix/profile/etc/xdg/nix/nix.conf:/etc/profiles/per-user/root/etc/xdg/nix/nix.conf:/nix/var/nix/profiles/default/etc/xdg/nix/nix.conf:/run/current-system/sw/etc/xdg/nix/nix.conf
Store directory: /nix/store
State directory: /nix/var/nix
Data directory: /nix/store/gdxrycycvhnhgg13rqmhmcfv16bbl7s0-lix-2.93.3/share`
 - nixpkgs: `/etc/nixpkgs`


[root@router:~]#
```

### Notify maintainers



---

**Note for maintainers:** Please tag this issue in your pull request description. (i.e. `Resolves #ISSUE`.)


### I assert that this issue is relevant for Nixpkgs

- [x] I assert that this is a bug and not a support request.
- [x] I assert that this is not a [duplicate of an existing issue](https://github.com/NixOS/nixpkgs/issues?q=is%3Aissue+label%3A%220.kind%3A+bug%22+label%3A%226.topic%3A+nixos%22). 
- [x] I assert that I have read the [NixOS Code of Conduct](https://github.com/NixOS/.github/blob/master/CODE_OF_CONDUCT.md) and agree to abide by it.

### Is this issue important to you?

Add a :+1: [reaction] to [issues you find important].

[reaction]: https://github.blog/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/
[issues you find important]: https://github.com/NixOS/nixpkgs/issues?q=is%3Aissue+is%3Aopen+sort%3Areactions-%2B1-desc
